@font-face {
    font-family: 'Meta Pro';
    src: url('assets/fonts/MetaPro-CondMedium.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/MetaPro-CondMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/MetaPro-CondMedium.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/MetaPro-CondMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/MetaPro-CondMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Variables */
/* $main-color: #EBFF6B; */

body {
    margin: 0;
    font-family: "Meta Pro";
    color: #FBFFE1;
    height: 200vw;
    font-weight: 400;
    font-stretch: expanded;
    letter-spacing: 1px;
}

a {
    text-decoration: none !important;
}

.headings {
    color: #EBFF6B;
}

.hide {
    display: none;
}

p {
    font-size: 18px;
    color: #FEFFF8;
    margin: 4px 0;
    line-height: 110%;
}

/* welcome page div */
#welcome-page {
    height: 100vh;
    min-height: 767px;
    width: 100vw;
    background-color: #11212B;
}

.diagonal-accent {
    background-image: url("assets/diagonal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    margin: 0;
}

#welcome-page-content {
    width: 80%;
    margin: auto;
}

#title-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-right: 48px;
}

#title-text {
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#title-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

#title-details-datetime {
    margin-right: 48px;
    margin-left: 96px;
}

.subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
}

#welcome-page-logo {
    width: 343px;
    height: 380px;
    padding-right: 0px;
    padding-left: auto;
}

#welcome-page-arrow {
    width: 128px;
    height: 1440px;
    border-radius: 72px;
    background-image: linear-gradient(to bottom, #EBFF6B 2.48%, rgba(235, 255, 107, 0.00) 18.81%);
}

#arrow-down {
    width: 128px;

    &:hover {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
    }
}

.move-down {
    margin-top: 200px !important;
}

#welcome-page-mobile {
    display: none;
}

/* Navigation Menu */
#navigation-menu {
    position: fixed;
    display: none;
    height: 72px;
    width: 100%;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    overflow: hidden;
    background: #1E3746;
    backdrop-filter: blur(20px);
    z-index: 100;
}

#navigation-logo {
    position: absolute;
    left: 12px;
    width: 48px;
    height: 40px;
    flex-shrink: 0;
    z-index: 110;
}

#navigation-img {
    width: 48px;
    height: 40px;
}

#navigation-list {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 30px;
  }
  
nav li {
    list-style: none;
    border-radius: 10%;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    color: #001;
}

.nav-link {
    color: #EBFF6B;
}

.nav-link:hover {
    /* background: rgb(128, 128, 128, 0.3) 0*/
    color: #9AA4AA;
}

/* Event Guide Page */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#event-guide {
    height: 100vh;
    /* height: auto; */
    background-color: #11212B;
}

#event-guide-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin: 64px auto;
}

#event-guide-details {
    flex: 20%;
}

#event-guide-details div {
    margin-bottom: 12px;
}

#event-guide-rsvp {
    height: 25%;
}

#event-guide-schedule {
    height: 60%;
}

#rsvp-link {
    display: flex;
    flex-direction: row;
}

#rsvp-img {
    width: 100%;
}

.schedule-item-content {
    margin-bottom: 0px !important;
}

#event-guide-direction {
    margin-left: 96px;
    flex: 80%;
}

#getting-there {
    height: 25%;
}

#getting-there-by {
    height: 60%;
}

#getting-there-by .by-way {
    flex: 25%;
}

.by-way-images {
    width: auto;
    height: 300px;
}

/* for tablets */
@media only screen and (max-width: 1080px) {
    #title-text {
        font-size: 64px;
    }

    #welcome-page-logo {
        width: 250px;
        height: 300px;
    }

    #welcome-page-arrow {
        margin-top: 24px;
    }

    #title-details {
        flex-direction: column;
    };

    #title-details-datetime {
        margin: 20px 0px;
    }

    #event-guide {
        height: fit-content;
    }

    #event-guide-content {
        flex-direction: column !important;
        width: 80%;
        padding-bottom: 48px;
    }

    #event-guide-direction {
        margin-left: 0px;
    }

    #getting-there {
        flex-direction: column !important;
    }

    #getting-there-by {
        flex-direction: column !important;
    }

    #getting-there-by div {
        margin-top: 12px;
    }
}


/* for mobile */

@media only screen and (max-width: 767px) {
    #welcome-page-content {
        display: none;
    }

    #welcome-page-mobile {
        display: inline;
        min-height: 1280px;
    }

    #welcome-page-content-mobile {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 24px auto 48px auto;
    }

    #welcome-page-content-mobile div {
        margin-left: auto;
        margin-right: auto;
    }

    #welcome-page-mobile-logo {
        width: 250px;
        height: 300px;
        margin: auto;
    }

    #welcome-page-mobile-title {
        font-size: 48px;
        margin: 24px auto;
    }

    #welcome-page-mobile-content {
        font-size: 16px;
    }

    #welcome-page-mobile-content p {
        text-align: center;
        color: #FEFFF8;
    }

    #welcome-page-mobile-how {
        font-size: 18px;
    }

    #welcone-page-mobile-arrow {
        /* position: absolute;
        right: 128px; */
        margin-top: 48px;
        height: 84px;
        width: 200px;
        border-radius: 42px;
        background-color: #001;
        /* background-image: linear-gradient(to left, #EBFF6B 2.48%, rgba(235, 255, 107, 0.00) 18.81%); */
        
    }

    #arrow-right {
        width: 84px;
    }
}

@media only screen and (max-width: 480px) {
    #welcome-page-mobile-logo {
        width: 224px;
        height: 256px;
        margin: auto;
    }   
}