@font-face {
    font-family: 'Meta Pro';
    src: url('assets/fonts/MetaPro-CondMedium.eot');
    src: url('assets/fonts/MetaPro-CondMedium.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/MetaPro-CondMedium.woff') format('woff'), 
         url('assets/fonts/MetaPro-CondMedium.ttf')  format('truetype'), 
         url('assets/fonts/MetaPro-CondMedium.svg#svgFontName') format('svg'); 
}

/* @font-face {
    font-family: 'Meta Pro';
    src: url('assets/fonts/MetaPro.eot');
    src: url('assets/fonts/MetaPro.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/MetaPro.woff') format('woff'), 
         url('assets/fonts/MetaPro.ttf')  format('truetype'), 
         url('assets/fonts/MetaPro.svg#svgFontName') format('svg'); 
} */

/* @import url('https://fonts.cdnfonts.com/css/meta-pro'); */


/* Variables */
/* $main-color: var(--main-color-yellow); */

:root {
    --main-color-blue: #11212B;
    --main-color-yellow: #EBFF6B;
    --font-color-blue: #366381;
    --background-yellow: #FBFFE1;
    --secondary-yellow: #F3FFA6;
    --secondary-blue: #1E3746;
    --secondary-text-yellow: #F5FFB5;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Meta Pro", sans-serif;
    color: #FBFFE1;
    height: fit-content;
    font-weight: 400;
    /* font-stretch: expanded; */
    /* letter-spacing: 1px; */
}

a {
    text-decoration: none !important;
    overflow: hidden;
}

.headings {
    color: var(--main-color-yellow);
}

.hide {
    display: none;
}

p {
    font-size: 18px;
    color: #FEFFF8;
    margin: 4px 0;
    line-height: 150%;
}

/* welcome page div */
#welcome-page {
    height: 100vh;
    margin: 0;
    min-height: 767px;
    width: 100vw;
    background-color: var(--main-color-blue);
    display: flex;
    flex-direction: column;
}

.diagonal-accent {
    background-image: url("assets/diagonal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    margin: 0;
    /* flex: 1 1 auto; */
}

#welcome-page-content {
    width: 80%;
    margin: auto;
    /* flex: 0 1 auto; */
}

#title-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-right: 48px;
    padding-bottom: 24px;
}

#title-description {
    margin-top: 24px;
    padding-right: 48px;
}

#title-text {
    font-size: 84px;
    font-style: normal;
    font-weight: 500;
    font-stretch: expanded;
    line-height: normal;
}

#title-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 20px;
}

#title-details-location {
    margin-right: 96px;
}

#title-details-datetime {
    margin-right: 48px;
}

.subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-page-logo {
    width: 478px;
    height: 528px;
    padding-right: 0px;
    padding-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#welcome-page-arrow {
    width: 128px;
    height: 180px;
}

#arrow-down-drag {
    width: 100%;
    height: 1440px;
    border-radius: 72px;
    background-image: linear-gradient(to bottom, var(--main-color-yellow) 2.48%, rgba(235, 255, 107, 0.00) 18.81%);
}

#arrow-right-drag {
    margin-left: -260px;
    width: 400.365px;
    height: 82.69px;
    flex-shrink: 0;
    background-image: linear-gradient(to left, #EBFF6B 2.24%, rgba(235, 255, 107, 0.00) 37.81%);
    border-radius: 42px;
    position: relative;
    z-index: 2;
}

#welcome-page-mobile-arrow {
    margin-bottom: 24px;
}

#welcome-page-mobile .ellipse-accent {
    bottom: -246px;
    right: -284px;
    z-index: 1;
}

#arrow-right {
    margin-right: 0;
    margin-left: auto;
    right: 0;
    position: absolute;
    height: 100%;
}

#arrow-down {
    width: 128px;

    &:hover {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
    }
}

.move-down {
    margin-top: 200px !important;
}

.ellipse-accent {
    width: 860px;
    height: 860px;
    position: absolute;
    /* z-index: -100; */
    bottom: -196px;
    right: -144px;
    border-radius: 860.914px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(235, 255, 107, 0.10) 10%, rgba(217, 217, 217, 0.00) 100%);
}

#welcome-page-mobile {
    display: none;
    flex: 0 1 auto;
}

/* Navigation Menu */
.navigation-menu {
    position: sticky;
    top: 0;
    /* display: none; */
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
    background: #1E3746;
    backdrop-filter: blur(20px);
    z-index: 100;
}

#navigation-logo {
    position: absolute;
    left: 12px;
    margin-top: 12px;
    width: 46px;
    height: 40px;
    flex-shrink: 0;
    z-index: 110;
}

#navigation-img {
    width: 40px;
    height: 32px;
}

#navigation-list {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}


nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 30px;
  }
  
nav li {
    list-style: none;
    border-radius: 10%;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    color: #001;
}

.nav-link {
    color: var(--main-color-yellow);
}

.nav-link:hover {
    /* background: rgb(128, 128, 128, 0.3) 0*/
    color: #9AA4AA;
}

.navigation-menu-mobile {
    display: none;
}

/* Event Guide Page */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#diagonal-accent-event {
    height: 140px;
    background-position: center;
}

#event-guide {
    min-height: 100vh;
    height: fit-content;
    background-color: var(--main-color-blue);
    display: flex;
    flex-direction: column;
}

#event-guide-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 48px auto 84px auto;
    font-size: 14px;
    height: fit-content;
}

#event-guide-content .subtitle {
    font-size: 20px;
}

#event-guide-details {
    flex: 20%;
}

#event-guide-details div {
    margin-bottom: 12px;
}

#event-guide-rsvp {
    height: 25%;
}

#event-guide-schedule {
    height: 60%;
}

#rsvp-link {
    display: flex;
    flex-direction: row;
}

#rsvp-img {
    width: 100%;
}

.schedule-item-content {
    margin-bottom: 0px !important;
}

#event-guide-direction {
    margin-left: 96px;
    flex: 80%;
    margin-bottom: 4px;
}

#getting-there {
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex: 30%;
}

#getting-there-text {
    margin-top: 8px;
}

#getting-there-image {
    position: relative;
    height: 160px;
    width: 240px;
    border-radius: 10px;
    background-image: url("assets/getting-there.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#getting-there-link {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 0;
}

#getting-there-by {
    height: 60%;
    justify-content: space-around;
    gap: 32px;
}

#getting-there-by .by-way {
    flex: 25%;
}

.by-way-images {
    width: auto;
    height: 300px;
}

.by-way-text {
    width: 80%;
}

.second-content {
    margin-top: 8px;
    margin-bottom: 0px;
}

.by-way-images {
    border-radius: 10px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#by-bus-second {
    max-height: 180px;
}

#by-bus-second p {
    font-size: 14px;
}

#by-bus-images {
    justify-content: space-between;
    gap: 16px;
}

.by-bus-img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

#footer-event {
    background-color: var(--secondary-blue);
}

#footer-main {
    background-color: var(--secondary-yellow);
}

.footer {
    margin-bottom: 32px;
    margin-top: auto;
    height: 64px;
    padding: 0px 28px;
    /* margin-left:16px; */
    width: auto;
    border-radius: 32px 0px 0px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    flex: 25%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: left;
    text-align: center;
    gap: 12px;
}

#logo-footer-main {
    background-image: url("assets/logo_dark.png");
}

#logo-footer-event {
    background-image: url("assets/logo_footer.png");
}

.logo-footer {
    width: 40px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-text-event {
    color: var(--main-color-yellow);
}

#footer-text-main {
    color: var(--main-color-blue);
}

.footer-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
}

.footer-description {
    flex: 50%;
    display: flex;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
    margin-left: 0;
}

#footer-description-main div {
    color: var(--main-color-blue);
    font-weight: 350;
    font-size: 16px;
    line-height: 20px;
}

#footer-description-event div {
    color: var(--main-color-yellow);
    font-weight: 350;
    font-size: 16px;
    line-height: 20px;
}

.footer-description .mobile {
    display: none;
}

.footer-social {
    flex: 25%;
    height: 60%;
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 8px;
}

.social {
    margin: 4px;
    height: 28px;
    width: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

#instagram-dark {
    background-image: url("assets/instagram_dark.png");
}

#share-dark {
    background-image: url("assets/share_dark.png");
}

#instagram-light {
    background-image: url("assets/instagram-symbol.png");
}

#share-light {
    background-image: url("assets/share-symbol.png");
}

/* Main Page */

#main-page {
    background-color: var(--background-yellow);
    height: fit-content;
}

#main-page-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 48px;
    gap: 64px;
}

#main-page-filter {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;   
    flex: 15%;
    padding-top: 200px;
}

.filter {
    height: 4em;
    border-radius: 2em 0 0 2em;
    margin: auto 0;
    padding-left: 2em;
    display: flex;
    align-items: center;
    color: #366381;
}

.active {
    background-color: var(--main-color-yellow);
    color: #1E3746 !important;
}

.filter p {
    color: var(--font-color-blue);
    font-weight: 500;
    font-size: 28px;
    vertical-align: middle;
}

#main-page-collections {
    flex: 80%;
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
}

.designer-element {
    width: 197px;
    margin: 20px;
}

.project-element {
    width: 197px;
    margin: 20px;
}

.project-image {
    width: 197px;
    height: 197px;
    background-image: url("assets/landscape-placeholder\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.designer-image {
    width: 197px;
    height: 202px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.designer-text {
    color: var(--font-color-blue);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}


@media only screen and (max-width: 1920px) {
    #welcome-page-logo {
        width: 400px;
        height: 450px;
    }
}


/* for tablets */
@media only screen and (max-width: 1200px) {
    #title-text {
        font-size: 64px;
    }

    #welcome-page-logo {
        width: 300px;
        height: 343px;
    }

    #welcome-page-arrow {
        margin-top: 24px;
    }

    /* #title-details {
        flex-direction: column;
    }; */

    #title-details-location {
        margin: 20px 0px;
    }

    #title-details-datetime {
        margin: 20px 0px;
        margin-left: 0px !important;
    }

    #diagonal-accent-event {
        display: none;
    }

    #event-guide {
        height: fit-content;
        color: var(--secondary-text-yellow);
    }

    #event-guide-content {
        flex-direction: column !important;
        width: 90%;
        padding-bottom: 48px;
        align-items: center;
    }

    #event-guide-details {
        width: 80%;
    }

    #event-guide-direction {
        margin-left: 0px;
        width: 100%;
    }

    #getting-there {
        flex-direction: column !important;
        align-items: center;
        margin-top: 24px;
    }

    #getting-there-content {
        width: 80%;
    }

    #getting-there-by {
        flex-direction: column !important;
        margin-top: 24px;
    }

    #getting-there-by div {
        margin-top: 12px;
    }

    #getting-there-map {
        width: 100%;
    }

    .first-content {
        width: 80%;
        margin: 0px auto;
    }

    .by-way {
        align-items: center;
        /* flex-direction: column;/ */
    }

    #by-bus .second-content {
        width: 80%;
        margin: 0px auto;
        border-radius: 0;
    }

    #getting-there-image {
        width: 100%;
        height: 400px;
        background-size: cover;
        border-radius: 0;
    }

    #getting-there-link {
        width: 10%;
        height: auto;
    }

    .by-way-images {
        width: 100%;
        height: 400px;
        background-size: cover;
        border-radius: 0;
    }

    #event-guide {
        height: fit-content;
    }

    #main-page-content {
        flex-direction: column;
    }

    #main-page-filter {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
        flex: 15%;
        padding: 72px 0px 24px 0px;
        background-color: #FBFFE1;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #main-page-collections {
        margin-left: 0;
        padding-top: 0px;
    }

    .filter {
        width: 50%;
    }

    #designer-filter p {
        margin-right: 1.5em;
        margin-left: auto;
    }

    #designer-filter.active {
        border-radius: 0px 2em 2em 0px;
    }

    .footer {
        height: 141px;
        border-radius: 72px 0 0 72px;
        margin-left: 10%;
    }

    .footer-logo {
        flex: 15%;
    }

    .logo-footer {
        width: 68px;
        height: 75px;
        margin-left: 1em;
    }

    #logo-footer-main {
        background-image: url("assets/logo-dark-mobile.png");
    }

    #logo-footer-event {
        background-image: url("assets/logo-light-mobile.png");
    }

    .footer-text {
        display: none;
    }

    .footer-description {
        justify-items: space-between;
        align-items: flex-start;
        margin-left: 64px;
        gap: 8px;
    }

    .footer-social {
        flex-direction: column;
    }
}


/* for mobile */

@media only screen and (max-width: 840px) {
    #welcome-page-content {
        display: none;
    }

    #welcome-page-mobile {
        display: inline;
        flex: 0 1 auto;
    }

    #welcome-page-content-mobile {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 24px auto 48px auto;
    }

    #welcome-page-content-mobile div {
        margin-left: auto;
        margin-right: auto;
    }

    #welcome-page-mobile-logo {
        width: 250px;
        height: 300px;
        margin: auto;
    }

    #welcome-page-mobile-title {
        font-size: 48px;
        margin: 24px auto;
    }

    #welcome-page-mobile-content {
        font-size: 16px;
    }

    #welcome-page-mobile-content p {
        text-align: center;
        color: #FEFFF8;
    }

    #welcome-page-mobile-how {
        font-size: 18px;
    }

    #welcone-page-mobile-arrow {
        /* position: absolute;
        right: 128px; */
        margin-top: 48px;
        height: 84px;
        width: 200px;
        border-radius: 42px;
        background-color: #001;
        /* background-image: linear-gradient(to left, var(--main-color-yellow) 2.48%, rgba(235, 255, 107, 0.00) 18.81%); */
        
    }

    #arrow-right {
        width: 84px;
    }

    .by-way-text {
        width: 100%;
    }

    .footer-description .webpage{
        display: none;
    }

    .footer-description .mobile{
        display: flex;
        font-size: 14px !important;
        line-height: 18px !important;
    }

    .designer-element {
        margin: 10px;
    }

    .project-element {
        margin: 10px;
    }

    #navigation-menu-event-mobile.navigation-menu {
        display: flex;
        height: 100px;
        width: 90%;
        background-color: var(--main-color-blue);
        justify-content: space-between;
        padding: 0 5%;
    }

    #navigation-menu-main-mobile.navigation-menu {
        display: flex;
        height: 100px;
        width: 90%;
        background-color: var(--background-yellow);
        justify-content: space-between;
        padding: 0 5%;
    }

    .navigation-img-mobile {
        width:46px;
        height: 48px;
    }

    .menu-img {
        width: 30px;
        height: 36px;
    }

    #navigation-list-mobile {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        width: 259px;
        height: 700px;
        align-self: flex-start;
        z-index: 999;
    }

    .navigation-menu {
        display: none;
    }
}

@media only screen and (max-width: 560px) {
    #welcome-page-mobile-logo {
        width: 224px;
        height: 256px;
        margin: auto;
    }   

    #event-guide {
        height: fit-content;
    }

    .by-way-images {
        width: 100%;
        max-height: 200px;
    }

    #getting-there-image {
        width: 100%;
        max-height: 200px;
        background-position: center;
    }

    #designer-element {
        width: 146px;
    }
}
