@font-face {
    font-family: 'Meta Pro';
    src: url('fonts/FFMetaProBold.TTF');
    src: url('fonts/FFMetaProBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFMetaProBold.TTF')  format('truetype'), 
         url('fonts/FFMetaProBold.svg#svgFontName') format('svg');
    font-weight: 900;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('fonts/FFMetaProMedium.TTF');
    src: url('fonts/FFMetaProMedium.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFMetaProMedium.TTF')  format('truetype'), 
         url('fonts/FFMetaProMedium.svg#svgFontName') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('fonts/FFMetaProBook.TTF');
    src: url('fonts/FFMetaProBook.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFMetaProBook.TTF')  format('truetype'), 
         url('fonts/FFMetaProBook.svg#svgFontName') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('fonts/FFMetaProRegular.TTF');
    src: url('fonts/FFMetaProRegular.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFMetaProRegular.TTF')  format('truetype'), 
         url('fonts/FFMetaProRegular.svg#svgFontName') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('fonts/FFMetaProLight.TTF');
    src: url('fonts/FFMetaProLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFMetaProLight.TTF')  format('truetype'), 
         url('fonts/FFMetaProLight.svg#svgFontName') format('svg');
    font-weight: 350;
}

/* @import url('https://fonts.cdnfonts.com/css/meta-pro?styles=70694,70693,70695,70696,70689,70690,70675,70676,70692,70691,70673,70674,70687,70671,70672'); */

/* Variables */
/* $main-color: var(--main-color-yellow); */

:root {
    --main-color-blue: #11212B;
    --main-color-yellow: #EBFF6B;
    --font-color-blue: #366381;
    --background-yellow: #FBFFE1;
    --secondary-yellow: #F3FFA6;
    --secondary-blue: #1E3746;
    --secondary-text-yellow: #F5FFB5;
}

/* html {
    scroll-behavior: smooth;
    font-size: 16px;
} */

* {
    font-family: "Meta Pro", sans-serif;
}

body {
    margin: 0;
    font-family: "Meta Pro", sans-serif;
    color: #FFFFFF;
    height: fit-content;
    font-weight: 350;
    cursor: none;
    /* font-size: 16px; */
}

.cursor {
    position: fixed;
    z-index: 100000; /* this is to make sure this is the top most element make this bigger if the cursor is going under other elements */
    cursor: none; /* this is to hide the default cursor */
    pointer-events: none; /* this is to make it so that the cursor can still interact with elements */
    transition: width 100ms ease, height 100ms ease;
}

.small {
    z-index: 2000000;
}

.trail {
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%); 
    background-color: var(--main-color-yellow);
    border-radius: 50%;
    transition: all 200ms ease;
}


.trail-array { /* className for the trail elements */
    position: fixed;
    z-index: 100001;
    height: 30px; width: 30px;
    transform: translate(-50%, -50%); 
    border-radius: 50%;
    background: var(--main-color-yellow);
    opacity: 0.2;
}



.small {
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%); 
    background-color: var(--main-color-yellow);
    box-shadow: 0 0 6px 3px rgba(0,0,0,.2);
    border-radius: 50%;
}

.link {
    width: 50px;
    height: 50px;
}

/* Hide the scroll bar in Chrome */
/* Change the style of the scroll bar in Chrome */
::-webkit-scrollbar {
    height: 2px;
    width: 2px; /* Width of the scroll bar */
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0); /* Color of the scroll bar track */
    opacity: 0%;
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scroll bar thumb */
    border-radius: 2px; /* Border radius of the scroll bar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scroll bar thumb on hover */
}

.a2a_i {
    cursor: pointer;
}

.a2a_fullheader {
    cursor: default !important;
}

a {
    text-decoration: none !important;
    overflow: hidden;
    cursor: none;
}

.headings {
    color: var(--main-color-yellow);
}

.hide {
    display: none;
}

p {
    /* font-size: 18px; */
    margin: 4px 0;
    line-height: 150%;
}

/* welcome page div */
#welcome-page {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--main-color-blue);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.diagonal-accent {
    background-image: url("./assets/diagonal.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    /* height: 160px; */
    max-height: 160px;
    margin: 0;
    flex: 1 1 auto;
}

#diagonal-accent-event {
    height: 160px;
}

#welcome-page-content {
    width: 80%;
    height: fit-content;
    min-width: 1150px;
    margin: auto;
    color: #FEFFF8;
    flex: 0 1 auto;
}

#title-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-right: 3em;
    padding-bottom: 24px;
}

#title-description {
    margin-top: 24px;
    /* padding-right: 48px; */
}

#title-text {
    font-size: 5.25rem;
    font-style: normal;
    font-weight: 500;
    font-stretch: expanded;
    line-height: normal;
}

.how-to {
    font-weight: 500;
    font-size: 1.25rem;
}

#title-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 1.25rem;
    gap: 5rem;
}

#title-details-location {
    /* margin-right: 96px; */
    width: 26.5rem;
    max-width: 500px;
}

#title-details-datetime {
    /* margin-right: 48px; */
    width: 11rem;
    max-width: 250px;
}

.subtitle {
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
}

.welcome {
    font-size: 0.8em;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-page-logo {
    width: 478px;
    height: 528px;
    padding-right: 0px;
    padding-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#welcome-page-arrow {
    width: 128px;
    height: 180px;
    position: relative;
}

#arrow-down-drag {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1440px;
    border-radius: 72px;
    background-image: linear-gradient(to bottom, var(--main-color-yellow) 2.48%, rgba(235, 255, 107, 0.00) 18.81%);
    transition: top 300ms ease;
}

#arrow-right-drag {
    margin-left: -260px;
    width: 400.365px;
    height: 82.69px;
    flex-shrink: 0;
    background-image: linear-gradient(to left, #EBFF6B 0%, rgba(235, 255, 107, 0.00) 100%);
    border-radius: 0 42px 42px 0;
    position: relative;
    z-index: 2;
    transition: all 300ms ease;
}

#welcome-page-mobile-arrow {
    margin-bottom: 108px;
}

#welcome-page-mobile .ellipse-accent {
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

#arrow-right {
    margin-right: 0;
    margin-left: auto;
    right: 0;
    position: absolute;
    height: 100%;
}

#arrow-down {
    width: 128px;
}

.move-down {
    top: 200px !important;
}

#arrow-right-drag.move-right {
    margin-left: calc(-260px + 50vw - 100px);
}

.animated-circle {
    position: absolute;
    opacity: 0.4;
    background: var(--main-color-yellow);
    width: 0px;
    height: 0px;
    border-radius: 100% 100% 100% 100%;
    bottom: 0;
    left: -200px;
    transition: width 1000ms ease, height 1000ms ease, opacity 500ms ease;
}

.enlarge {
    transform: translate(-30vw, -100vh);
    width: 200vw;
    height: 200vw;
    opacity: 1;
}

.ellipse-accent {
    width: 720px;
    height: 660px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: radial-gradient(25% 25% at 700px 600px, rgba(235, 255, 107, 0.10) 10%, rgba(217, 217, 217, 0.00) 100%);
}

#welcome-page-mobile {
    display: none;
    flex: 0 1 auto;
}

/* Navigation Menu */
.navigation-menu {
    position: sticky;
    top: 0;
    /* display: none; */
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.125rem;
    overflow: hidden;
    background: #1E3746;
    z-index: 100;
}

#navigation-menu-event.navigation-menu {
    position: fixed;
}

#navigation-logo {
    position: absolute;
    left: 12px;
    margin-top: 12px;
    width: 46px;
    height: 40px;
    flex-shrink: 0;
    z-index: 110;
}

#navigation-img {
    width: 40px;
    height: 32px;
}

#navigation-list {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
}


nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 30px;
  }
  
nav li {
    list-style: none;
    border-radius: 10%;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    color: #001;
}

.nav-link {
    color: var(--main-color-yellow);
}

.nav-link:hover {
    /* background: rgb(128, 128, 128, 0.3) 0*/
    color: #9AA4AA;
}

.navigation-menu-mobile {
    display: none;
}

.navigation-img-mobile {
    width:46px;
    height: 48px;
}

.menu-img {
    width: 30px;
    height: 36px;
}

#navigation-list-mobile {
    /* display: none; */
    position: absolute;
    visibility: hidden;
    display: flex;
    height: 0vh;
    right: 0;
    top: 0;
    align-self: flex-start;
    z-index: 999;
    flex-direction: column;
    justify-items: space-between;
    gap: 22px;
    align-items: center;
    max-width: 360px;
    width: 60vw;
    transition: height 400ms ease, display 0s, visibility 300ms step-end; 
}

#navigation-list-mobile.active {
    visibility: inherit;
    height: 87.5vh;
    transition: height 400ms ease, display 0s, visibility 0ms step-end;
}

#navigation-mobile-main {
    background-color: var(--font-color-blue);
}

#navigation-mobile-page {
    background-color: var(--font-color-blue);
}

#navigation-mobile-event {
    background-color: var(--background-yellow);
    color: var(--main-color-blue);
}

.navigation-mobile {
    width: 100%;
    height: 85%;
    border-radius: 0 0 30vw 30vw;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 3em;
    font-size: 1.875rem;
    font-weight: 500;
}

.navigation-button-img {
    height: 78px;
    width: 78px;
}

.navigation-button {
    height: 10%;
    width: auto;
}

#nav-bar-mobile > ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  
#nav-bar-mobile li {
    margin: 4px;
}

.nav-link-main {
    color: #FFF;
}

.nav-link-event {
    color: var(--main-color-blue);
}

.nav-link:hover {
    /* background: rgb(128, 128, 128, 0.3) 0*/
    color: #9AA4AA;
}


/* Event Guide Page */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.yellow {
    color: var(--main-color-yellow);
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 110%;
}

.subtitle-1 {
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 110%;
}

.subtitle-2 {
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    line-height: 110%;
    margin-bottom: 8px;
}

.text {
    font-size: 1rem;
    font-weight: 400;
}

.text-width {
    width: 100%;
}

.bus-stop {
    font-size: 1rem;
    font-weight: 500;
}

#event-guide {
    min-height: 100vh;
    height: fit-content;
    background-color: var(--main-color-blue);
    display: flex;
    flex-direction: column;
}

#event-guide-content {
    width: 80%;
    min-width: 1454px;
    margin: auto;
    height: fit-content;
}

#event-guide-details {
    flex: 20%;
    gap: 1rem;
}

#event-guide-details div {
    margin-bottom: 1rem;
}

#event-guide-rsvp {
    min-height: 209px;
}

#event-guide-schedule {
    height: 60%;
}

#rsvp-link {
    position: relative;
    width: 100%;
    height: 56px;
    align-items: center;
    gap: 11px;
    border-radius: 29.5px;
    background: linear-gradient(270deg, #366381 0%, rgba(54, 99, 129, 0.00) 100%);
}

#rsvp-link-text {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
    margin-right: 48px;
}

#rsvp-link div {
    margin-bottom: 0px;
    padding: 0px;
}

#rsvp-link-img {
    position: absolute;
    right: 0;
    height: 56px;
    width: auto;
}

#rsvp-img {
    height: 56px;
    width: 56px;
}

.schedule-item-content {
    margin-bottom: 0px !important;
}

#event-direction-merch {
    flex: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 96px;
    margin-bottom: inherit;
}

#event-guide-direction {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

#getting-there {
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#getting-there-text {
    margin-top: 8px;
    font-weight: 500;
    min-width: 11rem;
}

#getting-there-map {
    position: relative;
    height: 209px;
    max-width: 300px;
    min-width: 120px;
}

#google-map {
    border-radius: 10px;
    z-index: 1;
    cursor: none;
}


#getting-there-by {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
}

#getting-there-by-text{
    max-width: 24rem;
    min-width: 10rem;
}

#nearest-bus-stop {
    margin-top: 12px;
}

.by-way-images {
    border-radius: 10px;
    width: 100%;
    min-width: 120px;
    max-width: 201px;
    height: 209px;
    object-fit: cover;
}

#by-bus-images.by-way-images {
    width: 201px;
}

.tab {
    display: flex;
    flex-direction: row;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
}

.tab button {
    color: #FFFFFF;
    text-align: left;
    padding: 0px 1rem 0 0;
    background: none;
    transition: 0.3s;
    border: none;
}

    /* Change background color of buttons on hover */
.tab button:hover {
    color: var(--font-color-blue);
}

    /* Create an active/current tablink class */
.tab button.active {
    color: var(--main-color-yellow);
}

    /* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

#event-merch-splash {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    gap: 2rem;
}

#event-merch-splash img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#event-merch-text {
    flex: 20%;
}

#event-merch-text .text {
    max-width: 12rem;
}

#event-merch-images {
    flex: 80%;
    display: flex;
    flex-direction: row;
    height: 300px;
}

#event-merch-block-ironon {
    display: flex;
    flex-direction: column;
    height: 300px;   
}

#event-merch-block {
    display: flex;
    flex-direction: row;
    height: 140px;   
}

#event-merch-ironon {
    display: flex;
    flex-direction: row;
    height: 160px;
    width: 100%;   
}

#event-merch-ironon1 {
    width: 40%;   
}

#event-merch-ironon2 {
    width: 60%;   
}

#footer-event {
    background-color: var(--secondary-blue);
}

.footer {
    margin-bottom: 32px;
    margin-top: auto;
    height: 64px;
    padding: 0px 28px;
    /* margin-left:16px; */
    width: auto;
    border-radius: 32px 0px 0px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-main {
    background-color: var(--secondary-yellow);
    margin-bottom: 0px;
}

.footer-logo {
    flex: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: center;
    gap: 12px;
}

#logo-footer-main {
    background-image: url("./assets/logo_dark.png");
}

#logo-footer-event {
    background-image: url("./assets/logo_footer.png");
}

.logo-footer {
    width: 40px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-text-event {
    color: var(--main-color-yellow);
}

#footer-text-main {
    color: var(--main-color-blue);
}

.footer-text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 110%;
}

.footer-description {
    flex: 50%;
    display: flex;
    width: 30em;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    font-size: 0.875rem;
    flex-direction: column;
    margin-left: 0;
}

#footer-description-main {
    color: var(--main-color-blue);
}

.webpage {
    font-weight: 350;
    font-size: 1rem;
    line-height: 20px;
}

#footer-description-event .webpage {
    color: var(--main-color-yellow);
}

.footer-description .mobile {
    display: none;
}

.footer-social {
    flex: 25%;
    height: 60%;
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 8px;
}

.social {
    margin: 4px;
    height: 28px;
    width: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

#instagram-dark {
    background-image: url("./assets/instagram_dark.svg");
}

#share-dark {
    background-image: url("./assets/share_dark.svg");
}

#instagram-light {
    background-image: url("./assets/instagram-symbol.svg");
}

#share-light {
    background-image: url("./assets/share-symbol.svg");
}

/* Main Page */

#main-page {
    background-color: var(--background-yellow);
    height: fit-content;
    padding-bottom: 48px;
}

#main-page-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 48px;
    gap: 64px;
}

#main-page-filter {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;   
    flex: 15%;
    padding-top: 200px;
    z-index: 50;
}

.filter {
    height: 4em;
    border-radius: 2em 0 0 2em;
    margin: auto 0;
    padding-left: 2em;
    display: flex;
    align-items: center;
    color: var(--font-color-blue);
    min-width: 12em;
}

.filter-active {
    background-color: var(--main-color-yellow);
    color: #1E3746;
}

.filter p {
    font-weight: 700;
    font-size: 1.75em;
    vertical-align: middle;
}

#main-page-collections {
    flex: 80%;
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
}

.designer-element {
    width: 178px;
    margin: 20px;
}

.project-element {
    width: 178px;
    margin: 20px;
}

.project-image {
    width: 178px;
    height: 185px;
    background-image: url("./assets/landscape-placeholder\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.designer-image {
    width: 178px;
    height: 185px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.designer-image-filter {
    width: 100%;
    height: 100%;
    background-color: var(--background-yellow);
    border-radius: 60%;
    opacity: 0;
    transition: all 300ms ease;
}

.designer-image-filter:hover {
    opacity: 0.15;
}

.designer-text {
    color: var(--font-color-blue);
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
}



/* Designers page */
.opening-page {
    height: calc(100vh - 64px);
    width: 100vw;
    margin: 0;
    padding: 0; 
}

.designer-splash {
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    /* background-image: url("./assets/0-Test-Desktop-copy.png"); */
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.designer-description {
    max-height: fit-content;
    min-height: 50vh;
    width: 720px;
    max-width: 45vw;
    min-width: 40em;
    background-color: var(--background-yellow);
    border-radius: 108px 0 0 0;
    position: relative;
    /* padding: 64px 136px 0px 100px; */
}


.designer-description::before {
    content: "";
    position: absolute;
    background-color: transparent;
    right: 0px;
    top: -200px;
    height: 200px;
    width: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 100px 0 0 var(--background-yellow);
}

.designer-description::after {
    content: "";
    position: absolute;
    background-color: transparent;
    left: -150px;
    bottom: 0px;
    height: 300px;
    width: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 0 150px 0 0 var(--background-yellow);
}

.designer-description-content {
    margin: 64px 88px 0px 84px;
}

.designer-name {
    color: var(--font-color-blue);
    font-family: "Meta Pro";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 1.125rem;
}

.designer-description-text {
    color: var(--main-color-blue);
    font-family: "Meta Pro";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}

.project-and-links {
    display: flex;
    flex-direction: row;
    width: 441px;
    align-items: center;
    gap: 32px;
    margin-left: 84px;
    margin-bottom: 24px;
}

.designer-project-snippet {
    display: flex;
    width: 324px; /* change with rem */
    padding: 5px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 37.5px;
    background: var(--font-color-blue);
    box-shadow: 0px 2px 20px 0px rgba(54, 99, 129, 0.25);
}

.designer-project-snippet-text {
    color: var(--main-color-yellow);
    text-align: right;
    font-family: "Meta Pro";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.designer-project-snippet-img {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 65px;
    background: url("./assets/project-snippet.svg"), no-repeat;
}

.designer-links {
    height: 26px;
    display: flex;
    gap: 25px;
    align-items: end;
}

.designer-link-logo {
    height: 26px;
}

#about-us {
    background-color: #11212B;
    background-image: url("assets/about-us-background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#about-us-content {
    padding: calc(64px + 10vh) 0 0 0;
    height: calc(80vh - 64px);
    display: flex;
    flex-direction: row;
}

.about-us-title {
    font-size: 1.75rem;
    font-weight: 500;
}

#about-us-content .title-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 50vw;
    margin-left: 2.5vw;
}

.circle-accent {
    display: flex;
    border-radius: 99999px;
    opacity: 1;
    justify-content: flex-end;
    align-items: end;
}

#circle-accent-horizontal {
    width: 291px;
    height: 31px;
    background: linear-gradient(270deg, rgba(235, 255, 107, 0.50) 0%, rgba(235, 255, 107, 0.00) 100%);
}

#circle-accent-vertical {
    width: 31px;
    height: 291px;
    background: linear-gradient(0deg, rgba(235, 255, 107, 0.50) 0%, rgba(235, 255, 107, 0.00) 100%);
}

.yellow-circle {
    width: 31px;
    height: 31px;
    border-radius: 16px;
    background-color: var(--main-color-yellow);
}

#about-our-batch .text {
    width: 13rem;
}

#about-our-course {
    align-items: end;
}

#about-our-course .text {
    max-width: 32rem;
}

#about-us-content-mobile {
    display: none;
}

@media only screen and (max-width: 1920px) {
    #welcome-page-logo {
        width: 400px;
        height: 450px;
    }
}

@media only screen and (max-width: 1560px) {
    #welcome-page-content {
        min-width: 90%;
    }

    #welcome-page-logo {
        width: 330px;
        height: 373px;
    }

    #welcome-page-arrow {
        margin-top: 24px;
    }

    #event-guide-content {
        min-width: 90%;
    }

    #by-bus-images.by-way-images {
        width: fit-content;
    }

    #rsvp-link {
        height: 48px;
    }

    #rsvp-link-text {
        font-size: 1rem;
        padding-left: 1em;
    }
    
    #rsvp-link-img {
        height: 48px;
        width: auto;
    }
    
    #rsvp-img {
        height: 48px;
        width: 48px;
    }

    .designer-splash {
        background-position: center center;
    }
    
    .designer-description {
        border-radius: 108px 0 0 0;
    }
}


/* for tablets */
@media only screen and (max-width: 1280px) {
    .cursor {
        display: none;
    }

    .trail {
        display: none;
    }

    * {
        cursor: auto;
    }

    a {
        cursor: pointer;
    }

    #title-text {
        font-size: 4rem;
    }

    #welcome-page-logo {
        width: 300px;
        height: 343px;
    }

    #arrow-down {
        width: 108px;
    }

    #welcome-page-arrow {
        width: 108px;
    }
    
    #arrow-down-drag {
        border-radius: 54px;
    }

    #title-logo {
        padding-right: 0;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    p.welcome {
        font-size: 1rem;
    }

    #title-details {
        font-size: 1.25rem;
        gap: 2rem;
        margin-right: 2em;
    };

    #title-details-location {
        margin: 20px 0px;
    }

    #title-details-datetime {
        margin: 20px 0px;
        margin-left: 0px !important;
    }

    #diagonal-accent-event {
        height: 140px;
    }

    #rsvp-link-text {
        font-size: 0.75rem;
        padding-left: 1em;
    }

    #main-page-content {
        gap: 16px;
    }

    .footer-text {
        font-size: 1.375rem;
    }

    .designer-description {
        max-height: 48vh;
        font-size: 1rem;
    }
    
    .designer-name {
        font-size: 3rem;
    }
    
    .designer-description-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1080px) {
    #title-details-location {
        margin: 20px 0px;
        width: 18rem;
    }

    #main-page-content {
        flex-direction: column;
    }

    #main-page-filter {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 60px;
        flex: 15%;
        padding: 12px 0px 12px 0px;
        background-color: #FBFFE1;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* box-shadow: 0 2px 6px 1px rgba(0,0,0,.2); */
    }

    #main-page-collections {
        margin-left: 0;
        padding-top: 0;
    }

    .filter {
        width: 50%;
    }

    .filter p {
        font-size: 1.5em;
    }

    #designer-filter p {
        margin-right: 1.5em;
        margin-left: auto;
    }

    #designer-filter.filter-active {
        border-radius: 0px 2em 2em 0px;
    }
}


/* for mobile */

@media only screen and (max-width: 840px) {
    #welcome-page-content {
        display: none;
    }

    #welcome-page-mobile {
        display: inline;
        flex: 0 1 auto;
        /* padding-bottom: 100px; */
        height: fit-content;
    }

    #welcome-page-content-mobile {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: fit-content;
        justify-content: space-between;
        margin: 24px auto 24px auto;
    }

    #welcome-page-content-mobile div {
        margin-left: auto;
        margin-right: auto;
    }

    #welcome-page-mobile-logo {
        min-width: 250px;
        min-height: 300px;
        width: 45vw;
        height: 54vw;
        margin: auto;
    }

    #welcome-page-mobile-title {
        font-size: 4rem;
        font-weight: 700;
        margin: 24px auto;
    }

    #welcome-page-mobile-content {
        font-size: 1.5rem;
    }

    #welcome-page-mobile-content p {
        text-align: center;
        color: #FEFFF8;
    }

    #welcome-page-mobile-how {
        font-size: 1.125rem;
        font-weight: 500;
        z-index: 2;
    }

    #welcone-page-mobile-arrow {
        /* position: absolute;
        right: 128px; */
        margin-bottom: 48px;
        height: 84px;
        width: 200px;
        border-radius: 42px;
        background-color: #001;
        /* background-image: linear-gradient(to left, var(--main-color-yellow) 2.48%, rgba(235, 255, 107, 0.00) 18.81%); */  
    }

    .animated-circle {
        top: calc(100vh - 108px);
        left: 50vw;
        background: var(--main-color-yellow);
        transition: all 1000ms ease, opacity 300ms ease;
    }

    .enlarge {
        top: 108px;
        left: -50vh;
        width: 200vh;
        height: 200vh;
        opacity: 1;
    }

    .how-to {
        font-size: 1rem;
    }

    #welcome-page-logo {
        width: 25vw;
        height: 30vw;
    }

    #diagonal-accent-event {
        display: none;
    }

    #event-guide {
        height: fit-content;
    }

    #event-guide-content {
        flex-direction: column !important;
        width: 90%;
        margin-bottom: 48px;
        align-items: center;
    }

    #event-guide-details {
        width: 80%;
    }

    #event-direction-merch {
        margin-left: 0px;
        width: 80%;
    }

    #event-guide-direction {
        flex-direction: column;
    }

    #rsvp-link-text {
        font-size: 1.25rem;
        padding-left: 1em;
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }

    #getting-there {
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }

    #getting-there-content {
        width: 100%;
    }
    
    #getting-there-by {
        flex-direction: column;
        margin-top: 24px;
    }

    #getting-there-by-text{
        max-width: 100%;
    }

    #google-map {
        width: 100%;
        height: 300px;
    }

    .by-way {
        align-items: center;
        /* flex-direction: column;/ */
    }

    #getting-there-map {
        height: 300px;
        max-width: 840px;
        width: 100%;
    }

    #getting-there-text {
        font-weight: 400;
    }

    #google-map {
        border-radius: 0px;
    }

    .by-way-images {
        height: fit-content;
        max-height: 300px;
        background-size: cover;
        border-radius: 0;
        max-width: 100%;
        text-align: left;
    }

    #event-guide {
        height: fit-content;
    }

    #event-merch-splash {
        flex-direction: column;
    }

    #event-merch-images {
        flex-direction: column;
    }

    #arrow-right {
        width: 84px;
    }

    .footer-description .webpage{
        display: none;
    }

    .footer-description .mobile{
        display: flex;
        font-size: 0.875rem;
        line-height: 18px;
    }

    .designer-element {
        margin: 10px;
    }

    .project-element {
        margin: 10px;
    }

    .navigation-menu-mobile {
        display: flex;
        height: 100px;
        width: 90%;
        justify-content: space-between;
        padding: 0 5%;
        overflow: visible;
    }

    #navigation-menu-event-mobile {
        display: flex;
        background-color: var(--main-color-blue);
        /* box-shadow: 0 2px 6px 1px rgba(0,0,0,.2); */
    }

    #navigation-menu-main-mobile {
        display: flex;
        background-color: var(--background-yellow);
    }

    #navigation-menu-page-mobile {
        display: flex;
    }

    #main-page-filter {
        top: 100px;
    }

    #main-page-content {
        gap: 18px;
    }

    .filter {
        height: 2.5em;
        border-radius: 2em 0 0 2em;
        margin: auto 0;
        padding-left: 2em;
        display: flex;
        align-items: center;
        color: #366381;
        font-size: 1rem;
    }

    .navigation-menu {
        display: none;
    }

    .footer {
        height: 141px;
        border-radius: 72px 0 0 72px;
        margin-left: 10%;
    }

    .footer-logo {
        flex: 15%;
    }

    .logo-footer {
        width: 68px;
        height: 75px;
        margin-left: 1em;
    }

    #logo-footer-main {
        background-image: url("./assets/logo-dark-mobile.png");
    }

    #logo-footer-event {
        background-image: url("./assets/logo-light-mobile.png");
    }

    .footer-text {
        display: none;
    }

    .footer-description {
        justify-items: space-between;
        align-items: flex-start;
        margin-left: 64px;
        gap: 8px;
    }

    .footer-social {
        flex-direction: column;
    }

    .designer-description {
        height: fit-content;
        width: 100%;
        min-height: auto;
        max-width: 100%;
        min-width: auto;
        border-radius: 0;
    }

    .designer-description-content {
        margin-top: 24px;
        max-width: 28rem;
        margin-left: auto;
        margin-right: auto;
    }

    .project-and-links {
        max-width: 28rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .designer-name {
        font-size: 2.75rem;
    }
    
    .designer-description-text {
        font-size: 1rem;
        margin-bottom: 20px;
        min-width: auto;
    }

    #navigation-menu-page-mobile.navigation-menu {
        background: none;
        position: fixed;
    }

    .opening-page {
        height: 100vh;
    }

    .designer-splash {
        /* background-image: url("./assets/0-Test-Phone.png"); */
        background-size: cover;
        background-position: 0px -210px;
    }

    .designer-description::before {
        top: -150px;
        height: 150px;
        width: 75px;
        border-bottom-right-radius: 75px;
        box-shadow: 0 75px 0 0 var(--background-yellow);
    }
    
    #about-us-content {
        display: none;
    }

    #about-us-content-mobile {
        display: flex;
    }
}

@media only screen and (max-width: 560px) {
    #welcome-page-mobile-logo {
        min-width: 224px;
        min-height: 256px;
        margin: auto;
    }

    #welcome-page-mobile-title {
        font-size: 3rem;
        font-weight: 700;
        margin: 24px auto;
    }

    #welcome-page-mobile-content {
        font-size: 1rem;
    }

    #event-guide-content {
        width: 95%;
        padding-bottom: 24px;
        align-items: center;
    }

    .by-way-images {
        max-height: 200px;
    }

    #getting-there-map {
        width: 100%;
        max-height: 209px;
    }

    #google-map {
        height: 200px;
    }

    .filter {
        height: 2.5rem;
    }

    .filter p {
        font-size: 1.25rem;
    }

    .designer-element {
        width: 140px;
    }

    .designer-image {
        width: 140px;
        height: 148px;
    }

    .designer-text {
        color: #000;
        font-size: 1em;
        font-weight: 400;
    }

    .project-element {
        width: 140px;
    }

    .project-image {
        width: 140px;
        height: 148px;
    }

    .footer-logo {
        flex: 10%;
    }

    .footer-description {
        flex: 80%;
        margin-left: 48px;
    }

    .footer-social {
        flex: 10%;
    }

    .designer-splash {
        /* background-image: url("./assets/0-Test-Phone.png"); */
        background-size: contain;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }

    .designer-description {
        height: fit-content;
        min-height: calc(100vh - 150vw);
        padding-bottom: 24px;
        width: 100%;
        border-radius: 0;
    }

    .designer-description-content {
        margin: 20px 28px 20px 36px;
    }

    .designer-description::before {
        top: -100px;
        height: 100px;
        width: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 0 50px 0 0 var(--background-yellow);
    }

    .designer-name {
        font-size: 2rem;
    }

    .designer-description-text {
        font-size: 1rem;
        margin-bottom: 16px;
    }

    .project-and-links {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 16px;
        margin-left: 0;
    }

    .designer-project-snippet {
        width: 50%;
        border-radius: 0px 37.5px 37.5px 0px;
    }

    .designer-project-snippet-text {
        font-size: 1rem;
    }

    .designer-project-snippet-img {
        width: 65px;
        height: 65px;
    }

    #about-us {
        background-image: url("assets/about-us-background-phone.png");
        background-position: center bottom;
    }
}

@media only screen and (max-width: 480px) {
    .footer-description {
        margin-left: 1.5rem;
    }

    .logo-footer {
        width: 60px;
        height: 66px;
        margin-left: 1em;
    }

    #rsvp-link-text {
        font-size: 1rem;
    }

    #welcome-page-content {
        display: inline;
    }

    #welcome-page-mobile {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .designer-name {
        font-size: 1.75rem;
    }
    
    .designer-description-text {
        font-size: 0.875rem;
    }
        
    
    .designer-project-snippet-text {
        font-size: 0.875rem;
    }
    
    .designer-project-snippet-img {
        width: 48px;
        height: 48px;
        border-radius: 48px;
    }
    
    .designer-links {
        height: 20px;
        gap: 12px;
    }
    
    .designer-link-logo {
        height: 20px;
    }
}